<!DOCTYPE html>
<html>
<head>
  <title>Earth Time</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body onload="geolocate(updateDb)">
  <div id="wholething">

    <div id="title">
      <h4>Earth Time</h4>
    </div>

    <div id="clock">
      <div id="clockface">
        <h1 id="beats" class="center"><%= beats.globalNow %></h1>
        <h2 id="realtive-beats" class="center"><%= beats.localNow %></h2>
      </div>

      <div id="timebar">
        <h3 id="daystart" class="relatives"><%= beats.dayStart %></h3>
        <h3 id="sunSight" class="relatives"><%= beats.sunSight %></h3>
        <h3 id="solarNoon" class="relatives"><%= beats.solarNoon %></h3>
        <h3 id="sunClipse" class="relatives"><%= beats.sunClipse %></h3>
        <h3 id="dayEnd" class="relatives"><%= beats.dayEnd %></h3>
      </div>
    </div>

    <div>
      <% if (user) { %>
        <pre>
          <p>Logged in as: <%= user.google.id %></p>
          <p><%= beats.location %></p>
        </pre>
        <a href="/logout">Logout</a>
        <% } else { %>
          <a href="/auth/google">Login with Google</a>
          <% } %>
        </div>
        
  </div>

  <!-- <div class="">
    <% include ../views/location-form %>
  </div> -->

  <% include ../views/scripts %>
</body>
</html>
